{%include templates/header.html%}
<div class="hero">
    <div class="hero-inner">
        <h1>metagram</h1>
        <h2>
            The best social network you've never heard of!
        </h2>
        <div class="btn-group">
            <a class="btn" href="/signup/"role="button">
                REGISTER NOW
            </a>
        </div>
        <p>
            Or <a href="/login/">LOGIN</a> if you heard about Metagram before.
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="section-about">
        <h3>What is metagram?</h3>
        <p>
            A proof-of-concept Facebook clone written in C.
        </p>
    </div>
    <div class="section-build">
        <div class="section-inner">
            <h3>You can use metagram to:</h3>
                <p>• Search for people you may know</p>
                <p>• Follow people to build connections</p>
                <p>• Post anything you want with censorship resistance</p>
                <p>• View friends' feeds without annoying ADs</p>
        </div>
    </div>
{%include templates/footer.html%}
